<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>The list of available endpoints:</h3>
    <p>1. To display the result of any individual polling unit: <strong>/polling_unit/polling_unit_uniqueid/</strong>. For instance <a href="/polling_unit/8">/polling_unit/8</a></p>
    <p>2. To display the sum total result of all polling units under any particular local government: <strong><a href="/lga/">/lga/</a></strong></p>
    <p>3. To store results for all parties for a new polling unit: <strong><a href="/polling_unit/">/polling_unit/</a></strong></p>
</body>
</html>